.div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  height: calc(100vh - 75px);
  gap: 1rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.icon {
  font-size: 2rem;
  display: block;
}

.message {
  margin-top: 2rem;
}

.list-item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: flex-end;
  /* justify-content: space-between; */
  width: 30vw;
  position: relative;
  padding: 1rem;
  border-radius: 4px;
  /* align-items: center; */
}

.list-item:hover {
}

.checkbox {
  /* margin-top: 1em; */
  transform: scale(2.1);
  margin-right: 1rem;
}

.delete-button {
  margin-left: 1em;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
  height: 600px;
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
  /* align-items: flex-end; */
}

.soon {
  background-color: gold;
}

.kind-of-soon {
  background-color: lightblue;
}

.not-soon {
  background-color: lightpink;
}

.inactive {
  background-color: lightgray;
}

.badge {
  background-color: white;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 1rem;
  padding: 0.05rem 0.25rem;
  font-size: 0.8rem;
}
