.div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  height: calc(100vh - 75px);
  gap: 1rem;
  max-width: 500px;
  width: 90vw;
  padding: 0.25rem;
  margin: 0 auto;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.icon {
  font-size: 2rem;
  display: block;
}

.message {
  margin-top: 2rem;
}

.list-item {
  display: flex;
  /* flex-direction: row; */
  list-style-type: none;
  align-items: flex-end;
  /* justify-content: space-between; */
  /* width: 30vw; */
  /* max-width: 600px; */
  position: relative;
  padding: 1rem;
  border-radius: 4px;
  align-items: center;
  outline: 1px solid var(--purple);
  /* box-shadow: -10px 8px 15px -3px rgba(0,0,0,0.1); */
}

.list-item-name {
  font-size: 1.2rem;
}

.list-item:hover {
}

.checkbox {
  /* margin-top: 1em; */
  margin-right: 1rem;
  width: 44px;
  height: 44px;
  accent-color: var(--purple);
}

.delete-button {
  /* margin-left: 1em; */
  background: transparent;
  border: 1px solid transparent;
  font-size: 1.75rem;
  cursor: pointer;
  /* justify-self: flex-end; */
  position: absolute;
  right: 2rem;
  bottom: 0.5rem;
  color: red;
  font-weight: bold;
}

.list-container {
  display: flex;
  flex-direction: column;
  /* height: 800px; */
  overflow-y: scroll;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 0;
}

.freq-badge,
.kind-of-soon,
.not-soon,
.overdue,
.soon {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  padding: 0.08rem 0.75rem;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  font-size: 0.8rem;
  width: 6.25rem;
}

.soon {
  background-color: var(--orange);
  color: var(--white);
}

.kind-of-soon {
  background-color: var(--teal);
  color: var(--white);
}

.not-soon {
  background-color: var(--purple);
  color: var(--white);
}

.overdue {
  background-color: var(--lightpink);
  color: var(--white);
}

.search {
  padding: 0.5rem;
  font-size: 1rem;
  /* margin-left: 1rem; */
  width: 100%;
  border: 1px solid var(--purple);
  border-radius: 4px;
}

.search-label {
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
