.div {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  height: calc(100vh - 75px);
  gap: 1rem;
  padding-top: 2rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.icon {
  font-size: 2rem;
  display: block;
}

.message {
  margin-top: 2rem;
}

.list-item {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: flex-end;
  justify-content: space-between;
  width: 30vw;
}

.checkbox {
  margin-top: 1em;
}

.delete-button {
  margin-left: 1em;
}

.list-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
}
