* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: black;
  margin: 0;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

.btn {
  text-decoration: none;
  border: 1px solid black;
  padding: 0.5rem;
  margin: 1rem;
  display: block;
  width: 7rem;
  color: var(--orange);
  border: 2px solid var(--orange);
  letter-spacing: 1px;
  font-weight: bold;
}

.add-btn {
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
